@import '../../scss/base.scss';

.header {
  max-width: $container;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: $purple;
  border-radius: $radius;

  font-size: $title;

  &__title {
    margin-left: 20px;
    color: #fff;
  }
}
