@import '../../scss/base.scss';

.user {
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;

  background: rgba(174, 174, 174, 0.2);
  border-radius: $radius;

  &__item {
    width: 25%;
    font-size: $regular;
    text-align: center;
  }
}
