@import '../../scss/base.scss';

.modal-window {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  &_closed {
    display: none;
  }

  &-form {
    max-width: $container;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    padding: 60px 0;
    background: #fff;
    border-radius: $radius;

    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    &__title {
      width: 60%;
      text-align: left;
      font-size: $titleHuge;
      padding-bottom: 30px;
    }
  }
}

.form-container {
  margin-top: 30px;
  width: 60%;
  padding: 10px 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(223, 255, 30, 0.5);
  border-radius: $radius;

  &__input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;

    font-size: $regular;
    padding: 0 10px;
    padding-left: 20px;

    &::placeholder {
      color: rgb(133, 133, 133);
    }
  }
}

.dropdown {
  margin-top: 30px;
  width: 60%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: $regular;
  position: relative;

  &__selected {
    width: 100%;

    background: rgba(223, 255, 30, 0.5);
    border-radius: $radius;
    padding: 10px 0;

    padding-left: 20px;
    box-sizing: border-box;

    user-select: none;

    cursor: pointer;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background-image: linear-gradient(45deg, transparent 50%, black 50%),
      linear-gradient(135deg, black 50%, transparent 50%), linear-gradient(to right, transparent, transparent);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
    background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
    background-repeat: no-repeat;
  }

  &-options {
    position: absolute;
    top: 100%;
    width: 100%;

    display: none;
    flex-direction: column;
    align-items: center;

    font-size: $regular;
    background: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: $radius;
    padding: 10px 10px;

    box-sizing: border-box;

    z-index: 10;

    user-select: none;

    &_open {
      display: flex;
    }

    &__item {
      margin: 5px 0;
      width: 100%;
      background: rgba(195, 195, 195, 0.5);
      padding-left: 10px;
      box-sizing: border-box;
      border-radius: 5px;

      cursor: pointer;
    }
  }
}
