@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$roboto: 'Roboto', sans-serif;
$container: 800px;
$innerContainer: 600px;
$radius: 10px;
$title: 24px;
$description: 22px;
$regular: 20px;
